html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*Font Styling*/
h1, h2, h3, h4, h5 {
    font-family: 'Arbutus Slab';
    font-weight: 700;
}

/*Headings*/
h1 {
    font-size: 4.21rem;
}

h2 {
    font-size: 3.158rem; /* 50.56px */
}

h3 {
    font-size: 2.369rem; /* 37.92px */
}

h4 {
    font-size: 1.777rem; /* 28.48px */
}

h5 {
    font-size: 1.333rem; /* 21.28px */
}

/*Nav*/
nav a {
    font-family: 'Arbutus Slab';
    font-weight: 200;
}


/*Hero*/
.hero-img {
    height: 400px;
    vertical-align: bottom;
    border-radius: 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/*Hero BTN*/
.btn-outline-primary {
    color: #000000 !important;
    background-color: transparent;
    background-image: none;
    border-color: #000000 !important;
}

.btn-outline-primary:hover {
    color: #c1c2a5 !important;
    background-color: #000000 !important;
}

/*Carousel*/
.slide {
    width: 100%;
    height: 30vw;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*Banner*/
.banner {
    background-image: url("https://images.unsplash.com/photo-1546387903-6d82d96ccca6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8bWluaW1hbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8fDI%3D");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    height: 30vh;
}

h1 span {
    color: #c1c2a5;
}
.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}