@page
@model KhumaloCrafts.WebApp.Pages.AboutUsModel
@{
    ViewData["Title"] = "About Us";
}

    <div style="height: 100vh;">
    <div class="container w-100 align-items-center banner">
        <h1 class="align-middle" style="color: #110c0c;">A Celebration of Global Artisanship</h1>
    </div>

    <h2>About KhumaloCraft Emporium</h2>

    <p>
        At KhumaloCraft Emporium, we are passionate about connecting the world with the beauty and soul of handcrafted creations.
        Founded by visionary entrepreneur James Khumalo, our mission is to empower artisans worldwide and provide a platform for them to showcase their exceptional talents.
        We believe that handcrafted products hold a special magic. Each piece tells a story,
        reflects the artist's unique skill, and embodies a rich cultural heritage.
        We're committed to fostering a global community of artisans and art enthusiasts,
        fostering appreciation for the artistry and dedication behind every creation.
    </p>

    <h2>Join the KhumaloCraft Journey</h2>

    <p>
        We invite you to explore our platform,
        discover the stories behind each piece,
        and experience the joy of owning a handcrafted masterpiece.
        Together, let's celebrate the artistry and cultural richness woven into every creation.
    </p>

    </div>