@page
@model KhumaloCrafts.WebApp.Pages.ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}

<h1>Lets Connect!</h1>

<p>We appreciate your interest in KhumaloCraft Emporium.
    Whether you're an artisan seeking a platform to showcase your work,
    a customer with questions, or simply have feedback,
    we'd love to hear from you!
</p>
