@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container hero" style="height: 100vh;">
    <div class="row align-items-center" style="height: 800px;">
        <div class="col">
            <h1>Discover a World of <span>Handcrafted</span> Wonder</h1>
            <div>
                <button class="btn btn-outline-primary">
                Dicover our work!
            </button>
            </div>
        </div>
        <div class="col">
            <img class="hero-img" src="https://images.unsplash.com/photo-1554042861-c5b9add98f2c?q=80&w=2100&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="ceramic bowl hero image" />
        </div>
    </div>
</div>

<div style="width: 80%; margin-top: 60px; margin-bottom: 60px; margin-left: auto; margin-right: auto; text-align: center;">
    <h2 style="">Explore!</h2>
    <p style="text-align: center;">
        KhumaloCraft Emporium is your gateway to a world of exquisite handcrafted treasures.
        We connect passionate artisans from around the globe with discerning art lovers like you.
        Discover unique pieces brimming with cultural richness,
        empower talented individuals,
        and bring a touch of handcrafted magic into your life.  Explore now!
    </p>
</div>

<div class="carousel slide" data-bs-ride="carousel" style="margin-top: 60px; margin-bottom: 60px;">
    <div class="carousel-inner">
        <div class="carousel-item active slide">
            <img class="" src="https://images.unsplash.com/photo-1607250589107-b8efff3a8d5a?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NTV8fGFydHxlbnwwfHwwfHx8Mg%3D%3D" alt="First slide">
        </div>
        <div class="carousel-item slide">
            <img class="d-block" src="https://images.unsplash.com/photo-1584589167171-541ce45f1eea?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8ZGVjb3JhdGlvbnxlbnwwfHwwfHx8Mg%3D%3D" alt="Second slide">
        </div>
        <div class="carousel-item slide">
            <img class="d-block" src="https://images.unsplash.com/photo-1604757910263-bdf361745bed?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fGRlY29yYXRpb258ZW58MHx8MHx8fDI%3D" alt="Third slide">
        </div>
    </div>
</div>
