@page
@model KhumaloCrafts.WebApp.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}

<h1>A World of Handcrafted Wonder</h1>

<p>Welcome to the vibrant world of KhumaloCraft Emporium,
    where artistic passion meets global appreciation! Here,
    you'll discover a treasure trove of handcrafted masterpieces,
    each one telling a unique story and brimming with cultural richness.
</p>

<h2>Explore Our Curated Collections</h2>
 
<div class="container">
    <div class="row">
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1641337645267-1b0b4ef54ad6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Grass Knit Bowls</h5>
                <h4 class="card-subtitle">R 650.00</h4>
                <p class="card-text">Handmade bowls.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card  col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1589051079002-b140a970f568?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Custom pottery</h5>
                <h4 class="card-subtitle">R 800.00</h4>
                <p class="card-text">Have us create you a custom pottery item.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card  col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1556379069-7c1b1b8990b0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Deco plates</h5>
                <h4 class="card-subtitle">R 650.00</h4>
                <p class="card-text">Handmade decoration plates.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1641582163466-e4d573078f98?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNyYWZ0d29ya3xlbnwwfHwwfHx8MA%3D%3D" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">African sculptures</h5>
                <h4 class="card-subtitle">R 900.00</h4>
                <p class="card-text">Some handmade african sculptures.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1650065962232-e4b7f95ebf1f?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjV8fGNyYWZ0d29ya3xlbnwwfHwwfHx8MA%3D%3D" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Desgner wine bottles</h5>
                <h4 class="card-subtitle">R 750.00</h4>
                <p class="card-text">Custom made old school win bottles.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <div class="card col-sm" style="width: 18rem;">
            <img class="card-img-top card-img" src="https://images.unsplash.com/photo-1528217580778-96e570819666?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mjh8fHNjdWxwdHVyZXxlbnwwfHwwfHx8MA%3D%3D" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Greek Style Sculpture</h5>
                <h4 class="card-subtitle">R 1 650.00</h4>
                <p class="card-text">Handcrafted greek sculpture.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>