@page
@model KhumaloCrafts.WebApp.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>


<p>Welcome to the vibrant world of KhumaloCraft Emporium,
    where artistic passion meets global appreciation! Here,
    you'll discover a treasure trove of handcrafted masterpieces,
    each one telling a unique story and brimming with cultural richness.
</p>

<h3>Explore Our Curated Collection</h3>


<div id="fh5co-product">
	<div class="container">
        <div class="row">

            @foreach (var item in Model.products)
            {
                <div class="col-md-4 text-center animate-box" value="@item.Id">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(@item.Img);">
                            <div class="inner">
                                    <p>
                                        <a class="icon" href="/AddToCart?id=@item.Id&name=@item.ProductName&description=@item.ProductDescription&price=@item.ProductPrice&stock=@item.Stock&img=@item.Img"><ion-icon name="cart" size="medium"></ion-icon></a>
                                        <a href="single.html" class="icon"><ion-icon name="eye" size="medium"></ion-icon></a>
                                    </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">@item.ProductName</a></h3>
                            R<span class="price">@item.ProductPrice</span>
                        </div>
                    </div>
                </div>
            }
        </div>
	</div>
</div>