@page
@model KhumaloCrafts.WebApp.Pages.MyWorkModel
@{
    ViewData["Title"] = "My Work";
}

<h1>A World of Handcrafted Wonder</h1>

<p>Welcome to the vibrant world of KhumaloCraft Emporium,
    where artistic passion meets global appreciation! Here,
    you'll discover a treasure trove of handcrafted masterpieces,
    each one telling a unique story and brimming with cultural richness.
</p>

<h2>Explore Our Curated Collection</h2>

<div class="row pb-5 mb-4">
    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
                <img src="https://images.unsplash.com/photo-1641582163466-e4d573078f98?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNyYWZ0d29ya3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">African Sculpture</a></h5>
                <p class="small text-muted font-italic">Hand made wood sculptures made by a South African artist.</p>
                <h6 class="card-subtitle">R 1 200.00</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
                <img src="https://images.unsplash.com/photo-1556379069-7c1b1b8990b0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Decorative plates</a></h5>
                <p class="small text-muted font-italic">Hand made woven multi-color decorative plates.</p>
                <h6 class="card-subtitle">R 1 000.00</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
                <img src="https://images.unsplash.com/photo-1641592542223-7e579c8a9320?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MXx8d292ZW4lMjBib3dsc3xlbnwwfHwwfHx8Mg%3D%3D" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Woven bowl set</a></h5>
                <p class="small text-muted font-italic">Hand made woven bowls.</p>
                <h6 class="card-subtitle">R 1 500.00</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
        <!-- Card-->
        <div class="card rounded shadow-sm border-0">
            <div class="card-body p-4">
                <img src="https://images.unsplash.com/photo-1589051079002-b140a970f568?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="" class="img-fluid d-block mx-auto mb-3">
                <h5> <a href="#" class="text-dark">Custom pottery</a></h5>
                <p class="small text-muted font-italic">Custom made pottery items.</p>
                <h6 class="card-subtitle">R 800.00</h6>
            </div>
        </div>
    </div>
</div>


 
@* <div class="container">
    <div class>
        <div class="row pb-5 mb-4">
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <img src="https://images.unsplash.com/photo-1641582163466-e4d573078f98?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNyYWZ0d29ya3xlbnwwfHwwfHx8MA%3D%3D" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">African Sculpture</a></h5>
                        <p class="small text-muted font-italic">Hand made wood sculptures made by a South African artist.</p>
                        <h6 class="card-subtitle">R 1 200.00</h6>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!-- Card-->
                <div class="card rounded shadow-sm border-0">
                    <div class="card-body p-4">
                        <img src="https://images.unsplash.com/photo-1556379069-7c1b1b8990b0?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="" class="img-fluid d-block mx-auto mb-3">
                        <h5> <a href="#" class="text-dark">Decorative plates</a></h5>
                        <p class="small text-muted font-italic">Hand made woven multi-color decorative plates.</p>
                        <h6 class="card-subtitle">R 1 000.00</h6>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                    <!-- Card-->
                    <div class="card rounded shadow-sm border-0">
                        <div class="card-body p-4">
                            <img src="https://images.unsplash.com/photo-1589051079002-b140a970f568?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="" class="img-fluid d-block mx-auto mb-3">
                            <h5> <a href="#" class="text-dark">Custom pottery</a></h5>
                            <p class="small text-muted font-italic">Custom made pottery items.</p>
                            <h6 class="card-subtitle">R 800.00</h6>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                        <!-- Card-->
                        <div class="card rounded shadow-sm border-0">
                            <div class="card-body p-4">
                                <img src="https://images.unsplash.com/photo-1641337645267-1b0b4ef54ad6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8Y3JhZnR3b3JrfGVufDB8fDB8fHww" alt="" class="img-fluid d-block mx-auto mb-3">
                                <h5> <a href="#" class="text-dark">Woven bowl set</a></h5>
                                <p class="small text-muted font-italic">Hand made woven bowls.</p>
                                <h6 class="card-subtitle">R 1 500.00</h6>
                            </div>
                        </div>
    </div>
</div> *@